<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="onNavigate()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">MEAL-O-MAT</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="13px" class="nav-items">
      <li>
        <a routerLink="/admin">Admin</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/vote">Vote</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
      <li><a style="cursor: pointer">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
