<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">MEAL-O-MAT</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="13px" class="nav-items">
      <li>
        <a>Admin</a>
      </li>
      <li>
        <a>Login</a>
      </li>
      <li>
        <a>Signup</a>
      </li>
      <li><a style="cursor: pointer">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
